
.allAll{
        height: 100%;
        width: 100%;
        margin-bottom: 3%;
        margin-top: 1%;
        .left{
            color: #B5B5B5;
            font-family: "Montserrat-Regular";
            font-size: 2vh;
            height: 100%;
            width: 100%;
            padding-left: 10%;
        }
      
    }
// .line{
//     height:1% ;
//     width: 80%;
//     background-color: #E1E1E1;
//     align-self: center;
    
// }

// .allAll{
//     height: 9vh;
//     width: 80vw;
//     margin-bottom: 3%;
//     margin-top: 1%;
// .all{
//     height: 8vh;
//     width: 80vw;
//     margin-bottom: 2%;
//     .left{
//       //  background-color: black;
//         span{
//             font-family: "Montserrat-SemiBold";
//             font-size: 4vh;
//             color:#EF05AA;
//         }
//     }
//     .linePink{
//         background-color: #EF05AA;
//         height: 60%;
//         align-self: center;
//     }
//     .right{
//         align-self: center;
//         padding-left: 3%;
//         .categoria{
//             font-family: "Montserrat-SemiBold";
//             font-size: 2vh;
//             color:#013765;
//         }
//         .promo{
         
//             font-family: "Montserrat-Regular";
//             font-size: 1.5vh;
//             color:#1552A5;
//         }
//         .duracion{
//             font-family: "Montserrat-SemiBold";
//             font-size: 1vh;
//             color:#9E9E9E;
//         }
//     }
// }
// .line{
//     background-color: #E1E1E1;
//     height: 10%;
//     width: 80%;
//     align-self: center;
//     margin-bottom: 10%;
// }
// }